body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("../image/back.png") no-repeat center center fixed;
    background-size: cover;/* Utilisation de la même couleur de fond que dans sign.css */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.info {
    margin-bottom: 15px;
}

.info span {
    font-weight: bold;
}