<!-- filepath: /c:/Users/EMI/OneDrive/Bureau/mon_projet_django/projet/templates/employee_profile.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Création d'un compte Employé</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sign.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{% static 'image/th.jpeg' %}" alt="User Icon">
            <h1>Création d'un compte Employé</h1>
        </div>
        <form action="{% url 'employee_form' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button type="submit">Créer un compte</button>
            </p>
        </form>
    </div>
</body>
</html>